/* Normalize.css */
@import-normalize;

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
:root, html {
  font-size: 16px !important;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Georgia, serif;
  font-size: 16px !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Добавь сюда любые кастомные стили */

/* Custom classes */
.text-menu {
  font-size: 32px;
  letter-spacing: 0.05em;
}

@media (max-width: 768px) {
  #mobileMenu {
    width: 100% !important;
  }
  
  #mobileMenu .email-container {
    bottom: 240px !important;
  }
} 