/* Normalize.css */
@import-normalize;

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
:root, html {
  font-size: 16px !important;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

body {
  font-family: 'Georgia, serif';
  font-size: 16px !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Добавь сюда любые кастомные стили */ 